.popup__bar-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 970px;
  margin: 30px auto 65px auto;
}

.popup__bar-block:nth-of-type(3n) {
  margin-bottom: 40px;
}
