.popup__film-link {
  align-self: flex-end;
  width: 58%;
  min-height: 20px;
  color: #5C7699B2;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin: 10px 0 47px 0;
}
